<div class="cb cb--title">
    <h3 class="title">agenda</h3>
</div>

<div class="cb cb--agenda">
    <div class="agenda__group">
        {% for event in events %}
        {# {% include 'partials/project-thumb.twig' with { id: loop.index0, project : project } only %} #}
        <div class="event">
            <a class="event__visual" href="{{ event.link }}">
                {% set thumb = event.get_field('event_thumbnail').url %}
                {% if thumb %}
                    <img class="lazy" data-original="{{ TimberImage(thumb).src }}" alt="" />
                    <noscript><img src="{{ TimberImage(thumb).src }}" alt="" /></noscript>
                {% endif %}
            </a>
            <div class="event__information">
                <div class="event__information__details">
                    <span class="event__information__details__date">{{ fn('nlDate', event.event_date|date('l j F Y') ) }}</span>
                    <a href="{{ event.link }}"><h3 class="event__information__details__title">{{ event.title }}</h3></a>
                </div>        
                <div class="event__information_link">
                    <a href="{{ event.link }}" class="button">{{ readmore }}</a>
                </div>    
            </div>      
        </div>
        {% endfor %}
    </div>
</div>
