<!-- comment form -->
{# {% include "partials/comment-form.twig" %} #}

{% set depth = comment.depth %}

<div class="comment {% if depth %}comment__level--{{ depth }}{% endif %}" id="comment-{{comment.ID}}">
    {# {{ dump(reaction) }} #}
    <div class="comment__user">
        <i class="fa fa-user"></i>
    </div>
    <div class="comment__details">
        <p>
            <span class="comment__author">{{comment.author.name}}</span>
            &thinsp; &ndash; &thinsp; 
            <span class="comment__date">{{comment.date}}</span>    
        </p>
        <div class="comment__content">{{comment.comment_content|wpautop}}</div>
    </div>
</div><!-- #reaction-## -->

{# {% include "partials/comment-reply.twig" %} #}