<div class="comment__form__container">
    <h5 class="comment__title"> 
        {# Add a comment  #}
        {% if currentlanguage__nl %}{{ options.nl_comments.comment_add }}{%else%}{{ options.pt_comments.comment_add }}{%endif%}
    </h5>

    <form id="form" class="comment__form" method="post" action="{{ site.site_url~'/wp-comments-post.php' }}">
        {% if  user %}
            <input type="hidden" name="email" value="{{ user.email }}">
            <input type="hidden" name="author" value="{{ user.name }}">
            <input type="hidden" name="url" value="{{ user.link }}">
        {% else %}
            {# <div> #}
                <div class="comment__form__block comment__form__block--input col-6">
                    <label for="email"> 
                        {# email  #}
                        {% if currentlanguage__nl %}{{ options.nl_comments.form_email }}{%else%}{{ options.pt_comments.form_email }}{%endif%}
                    </label>
                    <input required name="email" type="text" id="email"/>
                </div>

                <div class="comment__form__block comment__form__block--input col-6">
                    <label for="author"> 
                        {# name  #}
                        {% if currentlanguage__nl %}{{ options.nl_comments.form_name }}{%else%}{{ options.pt_comments.form_name }}{%endif%}
                    </label>
                    <input required name="author" type="text" id="author"/>
                </div>
            {# </div> #}
        {% endif %}

        <div class="comment__form__block comment__form__block--textarea col-12">
            <label for="comment"> 
                {# message  #}
                {% if currentlanguage__nl %}{{ options.nl_comments.form_message }}{%else%}{{ options.pt_comments.form_message }}{%endif%}
            </label>
            <textarea name="comment" cols="60" rows="3" id="comment"></textarea>
        </div>

        <input name="comment_post_ID" value="{{ post.id }}" id="comment_post_ID" type="hidden">
        <input name="comment_parent" id="comment_parent" value="{{ comment.ID|default('0') }}" type="hidden">

        <div>
            <button type="submit" name="Submit" class="button"> 
                {# Send  #}
                {% if currentlanguage__nl %}{{ options.nl_comments.send }}{%else%}{{ options.pt_comments.send }}{%endif%}
            </button>
            <button type="reset" class="button"> 
                {# Cancel  #}
                {% if currentlanguage__nl %}{{ options.nl_comments.cancel }}{%else%}{{ options.pt_comments.cancel }}{%endif%}
            </button>
            <p class="comment__revised"> 
                {# Your comment will be revised by the site if needed.  #}
                {% if currentlanguage__nl %}{{ options.nl_comments.comment_revised }}{%else%}{{ options.pt_comments.comment_revised }}{%endif%}
            </p>
        </div>
    </form>
</div>