<!-- comment form -->
{# {% include "partials/comment-form.twig" %} #}

{% set depth = comment.depth %}

<div class="comment {% if depth %}comment__level--{{ depth }}{% endif %}" id="comment-{{comment.ID}}">
	{# {{dump(comment)}} #}
	<p class="comment__date">{{comment.date|date('j F Y')}}</p>
	<p class="comment__author">{{comment.author.name}}:</p>
	<p class="comment__content">{{comment.comment_content|wpautop}}</p>

	{# {% include "partials/comment-reply.twig" %} #}

</div>