{% for block in post.blocks %}

	{% if block.acf_fc_layout == 'heading' %}
		<div class="cb cb--title">
			<h3 class="title">{{ block.text }}</h3>
		</div>

		{% elseif block.acf_fc_layout == 'text' %}
			<div class="cb cb--text">
                <p>{{ block.text|wpautop }}</p>

				{# TODO BUTTON STYLE #}
				{% if block.add_buttons and block.buttons|length > 0 %}
					{% for button in block.buttons %}
						{% if button.url_or_file == 'url' %}
							{% if button.button_link[0].acf_fc_layout == 'internal_link' %}
								<a href="{{ button.button_link[0].il_url }}" class="button">{{ button.button_text }}</a>
								{% elseif button.button_link[0].acf_fc_layout == 'external_link' %}
								<a href="{{ button.button_link[0].el_url }}" class="button" target="_blank">{{ button.button_text }}</a>
							{% endif %}
							
						{% else %}
							<a href="{{ button.button_file.url }}" target="_blank" class="button">{{ button.button_text }}</a>
						{% endif %}
					{% endfor %}
				{% endif %}

			</div>

        {% elseif block.acf_fc_layout == 'text_text' %}
			<div class="cb cb--columns">
                <div class="row">
                    <div class="col-6 col-s-12">
						{{ block.text_left }}
                    </div>
                    <div class="col-6 col-s-12">
						{{ block.text_right }}
                    </div>
                </div>
            </div>

        {% elseif block.acf_fc_layout == 'text_image' %}

			<div class="cb cb--columns {% if block.media_alignment == 'right' %}cb--reverse{% endif %}">
                <div class="row">
                    <div class="col-6 col-s-12">
						{% for media in block.media %}
							{% if media.acf_fc_layout == 'image' %}
								<img class="lazy" data-original="{{ media.image.id|get_timber_image_src('column') }}"/>
								<noscript><img {{ media.image.id|get_timber_image_responsive('column') }}/></noscript>
							{% elseif media.acf_fc_layout == 'video' %}
								{{ media.video }}
							{% endif %}
						{% endfor %}
                    </div>
                    <div class="col-6 col-s-12">
                        <h4 class="title">{{ block.title }}</h4>
                        <p>{{ block.text }}</p>
						{% if block.add_buttons and block.buttons|length > 0 %}
							{% for button in block.buttons %}
								{% if button.url_or_file == 'url' %}
									{% if button.button_link[0].acf_fc_layout == 'internal_link' %}
										<a href="{{ button.button_link[0].il_url }}" class="button">{{ button.button_text }}</a>
										{% elseif button.button_link[0].acf_fc_layout == 'external_link' %}
										<a href="{{ button.button_link[0].el_url }}" class="button" target="_blank">{{ button.button_text }}</a>
									{% endif %}
									
								{% else %}
									<a href="{{ button.button_file.url }}" target="_blank" class="button">{{ button.button_text }}</a>
								{% endif %}
							{% endfor %}
						{% endif %}
                    </div>
                </div>
            </div>

		{% elseif block.acf_fc_layout == 'hr' %}
			<hr>

		{% elseif block.acf_fc_layout == 'agenda' %}
			{% include 'partials/agenda.twig' %}
		
        {% elseif block.acf_fc_layout == 'gallery' %}
			{% include 'partials/gallery.twig' %}

		{# TODO gallery images size crop #}
		{% elseif block.acf_fc_layout == 'gallery2' %}
			{% include 'partials/gallery2.twig' %}

		{# TODO slider images size crop #}
		{% elseif block.acf_fc_layout == 'slider' %}
			{% include 'partials/slider.twig' %}

		{% elseif block.acf_fc_layout == 'image_full_width' %}
			<div class="cb cb--fullwidth">
                <img class="lazy" data-original="{{ TimberImage(block.image.url).src }}" alt="alt" />
                <noscript><img src="{{ TimberImage(block.image.url).src }}" alt="alt" /></noscript>
            </div>

        {% elseif block.acf_fc_layout == 'video' %}
			<div class="cb cb--fullvideo">
                <div class="video-holder">
					{{ block.video }} 
                    {# <iframe width="640" height="360" src="https://www.youtube.com/embed/CNCKPXG0Bpg?feature=oembed" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen="" data-crossorigin="y"></iframe> #}
                </div>
            </div>

	{% endif %}

{% endfor %}

