{# <div class="footer">
{% if not fn('is_front_page') %}
{% set cssClass = 'navigation--footer' %}
{% set title    = title|default(0) %}
{% set items    = menu_footer.items|default(0) %}
{% if items %}
    <div class="navigation{% if cssClass %} {{ cssClass }}{% endif %}">
        {% if title %}<h5 class="nav__title">{{ title }}</h5>{% endif %}
        <ul class="navigation__list">
            {% for item in items %}
                <li class="navigation__item {{ item.classes|join(' ') }}{% if item.current %} is-active{% endif %}">
                    <a class="navigation__button" href="{{ item.url }}">
                        <span>{{ item.title }}</span>
                    </a>                         
                </li>
                {% if not loop.last %}
                <li>
                /
                </li>
                {% endif %}
            {% endfor %}
            <div class="navigation__background"></div>
        </ul>
    </div>
{% endif %}
{% endif %}


</div> #}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 in">
                <p class="copyright">Cantiga Teatral 2018</p>
                <p>Development: <a href="https://nl.linkedin.com/in/sergiodebei">Sergio De Bei</a></p>
            </div>
        </div>
    </div>
</footer>
