<div class="cb cb--gallery">
    <div class="gallery__fotos">
    {% for image in block.images %}
        {% if image.url %}
            <div class="gallery__foto">
                <a href="{{ TimberImage(image.url).src }}">
                    <img class="lazy" data-original="{{ TimberImage(image.url).src }}" alt="{{image.alt}}"/>
                    <noscript><img src="{{ TimberImage(image.url).src }}" alt="{{image.alt}}"/></noscript>
                </a>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div> 