{% if menu %}
    <ul class="menu">
        {% for item in menu %}
            {% if level == 1 %}
                <li class="menu-item {% if item.get_children %}menu-item__parent{% endif %}">
                    {% if item.get_children %}
                        <span >{{item.title}}</span>
                        {% else %}
                            <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
                    {% endif %}
                </li>
                    {% elseif level == 2 %}
                    {% for child in item.get_children %}
                        <li class="menu-item">
                            <a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
                        </li>
			    {% endfor %}
            {% endif %}
        {% endfor %}
	</ul>
{% endif %}